{% raw %}
    {% assign featured = product %}
    {% assign on_sale = false %}
    {% assign sale_text = 'Sale' | t %}
    {% if featured.compare_at_price > featured.price %}
    {% assign on_sale = true %}
    {% endif %}

    {% assign sold_out = true %}
    {% assign sold_out_text = 'products.product.sold_out' | t %}
    {% if featured.available %}
    {% assign sold_out = false %}
    {% endif %}

    {% if featured.title == '' %}
    {% comment %}add default state for product block in storefront editor{% endcomment %}
    {% capture product_title %}{{ 'home_page.onboarding.product_title' | t }}{% endcapture %}
    {% else %}
    {% capture product_title %}{{ featured.title | escape }}{% endcapture %}
    {% endif %}

    <div class="{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">
        <a href="{{ featured.url }}" class="grid-link{% if section.settings.center_grid_link %} text-center{% endif %}">
    <span class="grid-link__image grid-link__image--loading{% if section.settings.show_sold_out_circle %} grid-link__image-sold-out{% endif %} grid-link__image--product" data-image-wrapper>
      {% if on_sale and section.settings.show_sale_circle %}
          <span class="badge badge--sale">
          <span class="badge__text{% if sale_text.size > 7 %} badge__text--small{% endif %}">{{ 'products.product.sale' | t }}</span>
        </span>
      {% endif %}
        {% if sold_out and section.settings.show_sold_out_circle %}
            <span class="badge badge--sold-out">
          <span class="badge__text{% if sold_out_text.size > 9 %} badge__text--small{% endif %}">{{ 'products.product.sold_out' | t }}</span>
        </span>
        {% endif %}
      <span class="grid-link__image-centered">
        {% if featured.title != '' %}
            {% unless featured.featured_image == blank %}
                {% capture img_id %}ProductImage-{{ featured.featured_image.id }}{% endcapture %}
                {% capture wrapper_id %}ProductImageWrapper-{{ featured.featured_image.id }}{% endcapture %}
                {%- assign img_url = featured.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                {% comment %} Style image{% endcomment %}
                {% assign image = featured.featured_image %}
                <style>
                  {% if image.aspect_ratio < 1 %}
                  {% assign max_width = 480 | times: image.aspect_ratio %}
                  {% if image.height < 480 %}
                  {% assign max_height = image.height %}
                  {% assign max_width = image.width %}
                  {% else %}
                  {% assign max_height = height %}
                  {% endif %}
                  {% else %}
                  {% assign max_height = product_width | divided_by: image.aspect_ratio %}
                  {% if image.width < product_width %}
                  {% assign max_height = image.height %}
                  {% assign max_width = image.width %}
                  {% else %}
                  {% assign max_width = product_width %}
                  {% endif %}
                  {% endif %}

                  #{{ img_id }} {
                  max-width: {{ max_width }}px;
                  max-height: {{ max_height }}px;
                  }
                  #{{ wrapper_id }} {
                  max-width: {{ max_width }}px;
                  }
                </style>
                {% comment %} End Style image{% endcomment %}
                <div id="{{ wrapper_id }}" class="product__img-wrapper supports-js">
              <div style="padding-top:{{ 1 | divided_by: featured.featured_image.aspect_ratio | times: 100}}%;">
                <img id="{{ img_id }}"
                     alt="{{ featured.featured_image.alt | escape }}"
                     class="product__img lazyload"
                     data-src="{{ img_url }}"
                     data-widths="[150, 220, 360, 470, 600, 750, 940, 1080, 1296, 1512, 1728, 2048]"
                     data-aspectratio="{{ featured.featured_image.aspect_ratio }}"
                     data-sizes="auto"
                     data-image>
              </div>
            </div>
            {% else %}
                <img src="{{ featured.featured_image.src | img_url: 'large' }}" alt="{{ featured.featured_image.alt | escape }}" class="product__img" data-image>
            {% endunless %}
          <noscript>
            <img src="{{ featured.featured_image.src | img_url: 'large' }}" alt="{{ featured.featured_image.alt | escape }}" class="product__img">
          </noscript>
        {% else %}
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </span>
    </span>
            <p class="grid-link__title">{{ product_title }}</p>
            {% if section.settings.vendor_enable %}
            <p class="grid-link__title grid-link__vendor">{{ featured.vendor }}</p>
            {% endif %}
            {% if featured.title != '' %}
            <p class="grid-link__meta">
                {%- assign price = featured.price | money -%}

                {% if on_sale %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <s class="grid-link__sale_price">{{ featured.compare_at_price | money }}</s>
                {% endif %}
                {% if featured.price_varies %}
                {{ 'products.general.from_html' | t: price: price }}
                {% else %}
                {% if on_sale %}
                <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                {% else %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                {% endif %}
                {{ price }}

                {%- assign variant = featured.selected_or_first_available_variant -%}
                {%- if variant.available and variant.unit_price_measurement -%}
                {% comment %} Price {% endcomment %}
                {%- unless available -%}
                {%- if variant.title -%}
                {%- assign available = variant.available -%}
                {%- else -%}
                {%- assign available = true -%}
                {%- endif -%}
                {%- endunless -%}
                {% assign wrapper_class = 'grid-link__unit-price' %}
                <span class="product-unit-price{% unless available and variant.unit_price_measurement %} hide{% endunless %}{% if wrapper_class != blank %} {{ wrapper_class }}{% endif %}" data-unit-price-container>
                          {%- capture unit_price_separator -%}
                              <span aria-hidden="true">/</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}</span>
                          {%- endcapture -%}
                                                    {%- capture unit_price_base_unit -%}
                                                        <span data-unit-price-base-unit>
                              {%- if available and variant.unit_price_measurement -%}
                                  {%- if variant.unit_price_measurement.reference_value != 1 -%}
                                      {{- variant.unit_price_measurement.reference_value -}}
                                  {%- endif -%}
                                  {{ variant.unit_price_measurement.reference_unit }}
                              {%- endif -%}
                            </span>
                                                    {%- endcapture -%}
                          <span class="visually-hidden">{{ 'products.product.unit_price_label' | t }}</span>
                          <span data-unit-price>{{ variant.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}
                        </span>
                {% comment %} End Price {% endcomment %}
                {%- endif -%}
                {% endif %}
            </p>
            {% endif %}
        </a>
    </div>

{% endraw %}
